
#company {
    font-size: 32px;
}

/* Colors */


.primary {
    background-color: #011144;
}
.primary2 {
    background-color: #031d72;
}

.secondary {
    background-color: #d99f59;
}

.bg{
    background-color: #F2F2E9;
}
  .red {
 background-color: #910F0F;
 }
 
.bt{
    background-color: #f5d7b2;
    border-right: 50px;
    
}

#div-login {
    background-color: #ffffff;
}
.colorBt{
    background-color: rgb(211, 204, 162);
}
.negro{
    background-color: black;
}


.bannerHeigth{
height: 120px;
margin-top:3%;
}
.verdoso{
    background-color: rgb(211, 198, 189);
}
.alineacion{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center
}
.ImgTm{
    max-width: auto;
}
.encima{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}