
#company {
    font-size: 32px;
}

/* Colors */


.primary {
    background-color: #011144;
}
.primary2 {
    background-color: #031d72;
}

.secondary {
    background-color: #d99f59;
}

.bg{
    background-color: #F2F2E9;
}
  .red {
 background-color: #910F0F;
 }
 
.bt{
    background-color: #f5d7b2;
    border-right: 50px;
    
}

#div-login {
    background-color: #ffffff;
}
.colorBt{
    background-color: #3a95a5;
}
.negro{
    background-color: black;
}


.bannerHeigth{
height: 120px;
margin-top:3%;
}
.verdoso{
    background-color: rgb(211, 198, 189);
}
.alineacion{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center
}
.ImgTm{
    max-width: auto;
}
.encima{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sinBorde{
    border: 0;
    outline:0px;
}
.transparente{
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
    -khtml-opacity: 0.8;
}
.transparente1{
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
    -khtml-opacity: 0.3;
}
