.primary {
    background-color: #011144;
}

.secondary {
    background-color: #d99f59;
}

.bg{
    background-color: #F2F2E9;
}
  .red {
 background-color: #910F0F;
 }
 
.bt{
    background-color: #f5d7b2;
    border-right: 50px;
    
}

#div-login {
    background-color: #ffffff;
}
.colorBt{
    background-color: #08748f;
}


.bannerHeigth{
height: 120px;
margin-top:3%;
}
.verdoso{
    background-color: rgb(211, 198, 189);
}
.alineacion{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-top: auto;
}
