
/* Colors */


.primary{
    background-color: #011144;
}

.secondary{
    background-color: #d99f59;
}

.bg{
    background-color: #F2F2E9;
}
  .red{
 background-color: #910F0F;
 }
 
.bt{
    background-color: #f5d7b2;
    border-right: 50px;
    
}