/*color de fondo*/
.background_app{
    -fx-margin:0;
    -fx-padding: 0;
    -fx-font-family: sans-serif;
    -fx-background: #272819;
}
.lab{
    -fx-color:white;
    -fx-text-alignment:center ;
    -fx-text-size: 25px;
    -fx-weight: 350px;
}
.box1{
    -fx-width: 350px;
    -fx-padding: 45px;
    -fx-position: absolute;
    -fx-top: 50%;
    -fx-left:50%;
    -fx-transform: traslate(-50%,-50%);
    -fx-background:#191919;
    -fx-text-align: center;  
}

.input{ 
    -fx-border:0;
    -fx-background: none;
    -fx-display:block;
    -fx-margin:20px auto;
    -fx-text-align: center;
    -fx-border: 2px solid blue;
    -fx-padding: 14px;
    -fx-width:200px;
    -fx-outline: none;
    -fx-border-radius: 24px;
    -fx-trasition:0.25s;
}

/* cajas de texto */
.text_app{
    -fx-background-color: #cceffc;
    -fx-text-fill: #000;
    -fx-prompt-text-fill: #5aaff0;
    -fx-text-box-border: transparent;
    -fx-border-radius: 18 18 18 18;
    -fx-background-radius: 18 18 18 18;
    /*-fx-background-radius: 0;*/
    -fx-padding: 8;
    -fx-font-size:14px;
}

.text_app:focused {
    -fx-text-fill: #000;
    -fx-background-color: #fff;
}

/*boton de inicio de sesion*/
.button_app{
    -fx-background-color: #0c7daf;
    -fx-border-radius: 46;
    -fx-background-radius: 46;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER;
}

/**etiqueta de inicio de sesion*/
.textb_app{
    -fx-text-fill: #fff;
    -fx-font-size:16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

/**etiqueta ¿no puede...*/
.textnp_app{
    -fx-text-fill: #fff;
    -fx-font-size:12px;
    -fx-font-weight: normal;
}

/*etiqueta de error*/
.texterr_app{
    -fx-text-fill: #a53b3f;
    -fx-font-size:12px;
    -fx-font-style:italic;
}