/*
 * Empty Stylesheet file.
 */

.background{
    -fx-background-color: #1E1E1E;
    -fx-text-fill:#ffffff; 
    
}
.button{
    -fx-background-color: #66D9EF;  
}
.Tab{
    -fx-background-color: #F92672;
}
.Tab2{
    -fx-background-color: #A6E22E;
}
.Tab3{
    -fx-background-color: #FD971F;
}
.Label{
    -fx-background-color: #66D9EF; 
}