/*color de fondo*/
.background_app{
    -fx-margin:0;
    -fx-padding: 0;
    -fx-font-family: sans-serif;
    -fx-background: #272819;
    -fx-border-radius: 26;
    -fx-background-radius: 26;
}

.lab{
    -fx-text-fill: white;
    -fx-font: bold italic 15pt Arial;
    -fx-effect: dropshadow(one-pass-box, blue, 8, 0.0, 2, 0);
}
.box:focus{
    -fx-width: 350px;
    -fx-padding: 45px;
    -fx-position: absolute;
    -fx-top: 50%;
    -fx-left:50%;
    -fx-transform: traslate(-50%,-50%);
    -fx-background:#191919;
    -fx-text-align: center;  
    -fx-widht: 280px;
    -fx-border-color: #2ecc71;
}

.input{ 
    
    -fx-border: 2px solid #4CAF50;
    -fx-background: none;
    -fx-display:block;
    -fx-margin:20px auto;
    -fx-text-box-border: transparent;
    -fx-padding: 14px;
    -fx-width:200px;
    -fx-outline: none;
    -fx-background-radius: 46;
   -fx-text-fill: black;
    -fx-trasition:0.25s;
}

.button1{
     -fx-background-color: #07d6fa;
     -fx-font-size: 20px;
    -fx-border-radius: 46;
    -fx-background-radius: 46;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER;
    -fx-width:59; 
    -fx-height:35;
}

